.App {
  height: 100vh;
  
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15%;

  background-color: #181B23;
  color: #EEEEF2;
  font-family: 'Josefin Sans', sans-serif;
}

.App__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  letter-spacing: 1px;
  margin: 0 30px;
}

.App__info span {
  font-weight: 600;
  color: #fcce32
}

.App__info h1 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 300;
}

.App__info h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #D1D2DC;
}

@media screen and (max-width: 900px) {
  .App {
    padding: 60px 0;
    height: 100%;
    gap: 60px;
  }

  .App__info:first-child {
    gap: 42px;
  }

  .App__info:last-child {
    width: 80%;
  }
}